<div class="header text-center">
    <h1>
        Employee Portal
    </h1>
</div>

<div class="container">
    <div class="row custom-wrapper">
        <div class="col-md-12">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                        <label>First name</label>
                        <input type="text" class="form-control" formControlName="firstName"
                            [ngClass]="{'error': submitted && formControls.firstName.errors}">
                            <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">
                                <div *ngIf="formControls.firstName.errors?.required">
                                    Please enter your first name
                                </div>
                                <div *ngIf="formControls.firstName.errors?.minlength">
                                   First name required atleast 3 characters
                                </div>
                                <div *ngIf="formControls.firstName.errors?.maxLength">
                                    Last name required only 30 characters
                                </div>
                            </div>
                    </div>

                    <div class="mb-3">
                        <label>Last name</label>
                        <input type="text" class="form-control" formControlName="lastName"
                            [ngClass]="{'error': submitted && formControls.lastName.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.lastName.errors?.required">
                            Please enter your last name
                        </div>
                    </div>

                    <div class="mb-3">
                        <label >Gender</label>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="male" type="radio" class="custom-control-input" name="gender"
                                    formControlName="gender" value="male" checked>
                                <label class="custom-control-label" for="male">Male</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input id="female" type="radio" class="custom-control-input" name="gender"
                                    formControlName="gender" value="female">
                                <label class="custom-control-label" for="female">Female</label>
                            </div>
                            <div class="invalid-feedback" *ngIf="submitted && formControls.gender.errors?.required">
                                Please select gender
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label>Date of Birth</label>
                        <input type="date" formControlName="dob" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && formControls.dob.errors }" />
                        <div *ngIf="submitted && formControls.dob.errors" class="invalid-feedback">
                            <div *ngIf="formControls.dob.errors.required">Date of Birth is required</div>
                            <div *ngIf="formControls.dob.errors.pattern">Date of Birth must be a valid date in the
                                format YYYY-MM-DD</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Department</label>
                        <select class="custom-select d-block w-100" (change)="changeDepartment($event)"
                            formControlName="department"
                            [ngClass]="{'error': submitted && formControls.department.errors}">
                            <option value="">Choose department</option>
                            <option *ngFor="let department of departments" [ngValue]="department">{{department}}
                            </option>
                        </select>
                        <div class="invalid-feedback" *ngIf="submitted && formControls.department.errors?.required">
                            Please choose your department
                        </div>
                    </div>

                    <div class="mt-5"><button type="submit" class="btn btn-lg btn-block">Register</button></div>
            </form>
        </div>
    </div>
</div>