<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Hello User</a>
      <button class="btn my-2 my-sm-0" (click)="logout()" type="submit">Logout</button>
  </nav>

<div class="container">
    <h2>Employee Details</h2>
    <table class="table table-hover">
      <thead class="thead-color">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody *ngIf="!loading">
        <tr *ngFor="let employee of employeeDetails | slice: (page-1) * pageSize : page * pageSize; index as i">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.dob}}</td>
            <td>{{employee.department}}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" *ngIf="loading">
        <div class="spinner-border text-info" role="status">
        </div>Loading...</div>
    <div class="page-right">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" [disabled]="pagiDisabled" ></ngb-pagination>
    </div>
    
   </div>
