
  
  h2 {
    text-align: center;
    padding: 20px 0;
  }
  
  table caption {
      padding: .5em 0;
  }
  
  table.dataTable th,
  table.dataTable td {
    white-space: nowrap;
  }
  .page-right{
      float: right;
  }
  .thead-color{
      background-color: #59a8b5;
  }
