/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Muli', sans-serif;
    background: #F5F5F6;
  }
  
  .header {
    padding: 20px 2rem 27px;
    background: #59a8b5;
    margin: 0 auto 25px;
    border-radius: 0;
  }
  
  
  h1 {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin: 0;
  }
  
  .custom-wrapper {
    max-width: 460px;
    margin: 0 auto 150px;
  }
  
  label {
    font-size: 15px;
    font-weight: 600;
    color: #222;
    margin-bottom: 6px;
  }
  
  .btn.focus,
  .btn:focus,
  .form-control:focus,
  .custom-select:focus,
  .custom-select:focus {
    box-shadow: none;
  }
  
//   .btn-group-lg>.btn,
//   .btn-lg {
//     padding: 13px 15px 15px;
//     font-size: 16px;
//     border-radius: 0;
//     text-transform: uppercase;
//   }
  
//   .btn-group-sm>.btn,
//   .btn-sm {
//     padding: 10px 16px 10px;
//     font-size: 15px;
//     line-height: 1.5;
//     border-radius: 0;
//   }
  
  .form-control {
    height: auto;
    padding: 15px;
    font-size: 14px;
    color: #222222;
    border-radius: 0;
    background: #FDFDFD;
  }
  
  .custom-select {
    height: auto;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: #222222;
    background-color: #FDFDFD;
  }
  
  .custom-control-label {
    cursor: pointer;
  }
  
  .error:focus,
  .error {
    border-color: #E91E63;
  }
  
  .invalid-feedback {
    display: block;
    color: #E91E63;
  }

  .custom-control {
    margin-bottom: 5px;
  }
  
  .custom-control label {
    font-weight: 400;
  }
  
